@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    
   background:  url("../imagens/frame-iphone.png") no-repeat;
}

#tela {
   position: relative; 
   top: 80px;
   left: 22px;
   width: 269px;
   height: 471px;
}

#redes-sociais img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.2s;
}

#redes-sociais > a > img:hover{
    border: 3px solid rgba(255, 255, 255, 0.39);
    transform: translate(3px, 0px);
}